<template>
  <div class="block2-cards">
    <CardSupport
        v-for="card in support"
        v-bind:card="card"
    />

  </div>
</template>

<script>
import CardSupport from "@/components/card-support/Card-support";

export default {
  name: "Block2-cards",
  components: {CardSupport},
  props: {
    support: {
      type: Object,
      required: true,
    }
  }
}
</script>

<style scoped>

@media screen and (min-width: 1201px) {
  .block2-cards {
    justify-content: space-between;
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .block2-cards {
    justify-content: space-between;
  }
}

@media screen and (min-width: 359px) and (max-width: 768px) {
  .block2-cards {
    align-items: center;
    justify-content: center;
  }
}

.block2-cards {
  display: flex;
  flex-wrap: wrap;
}

</style>
