<template>
  <div class="card-support">
    <section
        class="indicator"
        v-bind:style="{'background-color': setBGColor(card.progress)}"
    />
    <section class="main-info">
      <section class="bank-name">{{ card.title }}</section>
      <section class="inwork-count">{{ card.inwork_count }}</section>
      <section class="burning-count">
        {{ card.burning_count }}
      </section>
      <section class="progress-time">
        <section class="progress"
                 :style="{'--bgColor':setBGColor(card.progress), '--width':card.progress+'%'}"
        >
        </section>
        <section class="time-fact">{{ card.time_fakt }}</section>
      </section>
    </section>
  </div>
</template>

<script>
export default {
  name: "Card-support",
  props: {
    card: {
      type: Number,
      required: true,
    }
  },
  methods: {
    setBGColor(progress) {
      return [progress > 50 ? '#FC6E6A' : '#39B8BA'];
    }
  },
}
</script>

<style scoped>

@media screen and (min-width: 1201px) {
  .card-support {
    height: 17.5vh;
    width: 10.5vw;
    min-width: 201px;
    min-height: 100px;
    max-height: 103px;
    padding: 17px 0.7vw 17px 0.7vw;
    border-radius: 13.5px;
    box-shadow: 0 3.44px 10px rgba(130, 150, 180, 0.32);
    margin-bottom: 25px;
    grid-template-columns: 3px 1fr;
  }

  .indicator {
    border-radius: 2px;
  }

  .bank-name {
    font-size: 16px;
  }

  .inwork-count {
    font-size: 36px;
  }

  .burning-count {
    font-size: 26px;
  }

  .burning-count:after {
    content: '';
    background: transparent url("@/assets/icons/Fire1920.svg");
    width: 9px;
    height: 11px;
    display: block;
    top: 30px;
    left: 10px;
    margin: 0 0 0 10%;
  }

  .progress-time {
    font-size: 18px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .card-support {
    min-width: 32%;
    min-height: 150px;
    border-radius: 20px;
    box-shadow: 0 5.07px 10px rgba(130, 150, 180, 0.32);
    padding: 2.5% 2%;
    margin-bottom: 25px;
    grid-template-columns: 4.5px 1fr;
  }

  .indicator {
    border-radius: 70%;
  }

  .bank-name {
    font-size: 24px;
  }

  .inwork-count {
    font-size: 53px;
  }

  .burning-count {
    font-size: 38px;
  }

  .burning-count:after {
    content: '';
    background: transparent url("@/assets/icons/Fire360_1024.svg");
    width: 14px;
    height: 16px;
    display: block;
    margin: 0 0 0 10%;
  }

  .progress-time {
    font-size: 26px;
  }
}

@media screen and (min-width: 359px) and (max-width: 768px) {
  .card-support {
    min-width: 95%;
    max-width: 300px;
    min-height: 150px;
    border-radius: 20px;
    box-shadow: 0 5.07px 10px rgba(130, 150, 180, 0.32);
    padding: 3ch 5%;
    margin-bottom: 25px;
    grid-template-columns: 4.5px 1fr;
  }

  .indicator {
    border-radius: 4px;
  }

  .bank-name {
    font-size: 24px;
  }

  .inwork-count {
    font-size: 53px;
  }

  .burning-count {
    font-size: 38px;
  }

  .burning-count:after {
    content: '';
    background: transparent url("@/assets/icons/Fire360_1024.svg");
    width: 14px;
    height: 16px;
    display: block;
    margin: 0 0 0 10%;
  }

  .progress-time {
    font-size: 26px;
  }
}

.card-support {
  box-sizing: border-box;
  display: grid;
  height: 17.5vh;
  background-color: #fff;
}

.indicator {
  background-color: #39B8BA;
  border-radius: 2px;
}

.main-info {
  display: grid;
  grid-template-areas:
  "a a a a a a a a"
  "b b c d d d d d"
  "b b c d d d d d";
  text-align: start;
  padding-left: 4%;
}

.bank-name {
  grid-area: a;
  font-weight: bold;
  color: #6E6E6E;
}

.inwork-count {
  grid-area: b;
  font-weight: bold;
  color: #111;
}

.burning-count {
  grid-area: c;
  color: rgb(252 110 106);
  font-weight: bold;
  position: relative;
}

.progress-time {
  grid-area: d;
  color: #909090;
}

.progress {
  width: 100%;
  min-height: 50%;
  position: relative;
}

.progress:before {
  content: "";
  position: absolute;
  background-color: #EFEFEF;
  width: 100%;
  height: 50%;
  border-radius: 16px;
  top: 25%;
}

.progress:after {
  content: "";
  position: absolute;
  background-color: var(--bgColor);
  width: var(--width);
  height: 50%;
  border-radius: 16px;
  top: 25%;
}

.time-fact {
  font-weight: bold;
}

</style>