<template>
  <section class="bank-name">{{ title }}</section>
</template>

<script>
export default {
  name: "card-balance__bank-name",
  props: {
    title: {
      type: String,
      required: true,
    }
  }
}
</script>

<style scoped>

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .bank-name {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 5px;
  }
}

@media screen and (min-width: 359px) and (max-width: 768px) {
  .bank-name {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 5px;
  }
}

.bank-name {
  color: #6E6E6E;
  font-weight: bold;
}

</style>