<template>
  <div class="block">
    <Block__text/>
    <BlockCards v-bind:balances="balances"/>
    <BlockCards
        v-bind:balances="balances"
        v-if="isBalancesVisible"
    />
    <Block__button @ShowBalances="showBalances"/>
    <hr>
  </div>
</template>

<script>
import Block__text from "@/components/block/__text/Block__text";
import CardBalance from "@/components/card-balance/Card-balance";
import BlockCards from "@/components/block-cards/Block-cards";
import Block__button from "@/components/block/__button/Block__button";

export default {
  name: "Block",
  components: {Block__button, BlockCards, CardBalance, Block__text},
  props: ["balances"],
  data() {
    return {
      isBalancesVisible: false,
    }
  },
  methods: {
    showBalances(data) {
      this.isBalancesVisible = data;
    }
  }
}
</script>

<style scoped>
@media screen and (min-width: 1201px) {
  hr {
    border: 1px solid #CFCFCF;
    margin-top: 80px;
  }
}

@media screen and (max-width: 1200px) {
  hr {
    display: none;
  }
}

</style>