<template>
  <section class="block__button">
    <button @click="showBalances_changeButtonText">{{ btnText }}</button>
  </section>
</template>

<script>
let isShowBalances = false;

export default {
  name: "Block_button",
  data() {
    return {
      btnText: 'Показать еще',
    }
  },
  methods: {
    showBalances_changeButtonText() {
      this.sendShowBalancesToParent();
      this.buttonText();
    },
    sendShowBalancesToParent() {
      this.$emit('ShowBalances', isShowBalances = !isShowBalances);
    },
    buttonText() {
      if (isShowBalances) {
        this.btnText = 'Скрыть';
      } else this.btnText = 'Показать еще';
    },
  },
}
</script>

<style scoped>
@media screen and (min-width: 1201px) {
  .block__button button {
    min-width: 150px;
    min-height: 36px;
    font-size: 18px;
    line-height: 24px;
    border-radius: 16px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .block__button {
    margin-top: 40px;
  }

  .block__button button {
    min-width: 210px;
    min-height: 52px;
    font-size: 26px;
    line-height: 24px;
    border-radius: 22px;
  }
}

@media screen and (min-width: 359px) and (max-width: 768px) {
  .block__button {
    margin-top: 25px;
  }

  .block__button button {
    width: 90%;
    min-height: 53px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 23px;
  }
}

.block__button button {
  font-family: "Cera Pro Regular", serif;
  font-weight: 400;
  background-color: #39B8BA;
  color: #fff;
  margin: auto;
  border: 0;
}

.block__button button:hover {
  background-color: #179898;
}

</style>