<template>
  <div class="card-balance">
    <CardBalance__bankName
        v-bind:title="card.title"
    />
    <!--    div sums лищний, надо с ним чет делать-->
    <div class="sums">
      <CardBalance__bankSum
          v-bind:sum="card.sum"
          v-bind:sum_plan="card.sum_plan"
      />
      <CardBalance__bankPlane
          v-bind:sum_plan="card.sum_plan"
      />
    </div>

  </div>
</template>

<script>
import CardBalance__bankPlane from "@/components/card-balance/__bank-plane/Card-balance__bank-plane";
import CardBalance__bankSum from "@/components/card-balance/__bank-sum/Card-balance__bank-sum";
import CardBalance__bankName from "@/components/card-balance/__bank-name/Card-balance__bank-name";

export default {
  name: "Card-balance",
  components: {CardBalance__bankName, CardBalance__bankSum, CardBalance__bankPlane},
  props: {
    card: {
      type: Object,
    }
  },
}
</script>

<style scoped>
@media screen and (min-width: 1201px) {
  .card-balance {
    height: 17.5vh;
    width: 10.5vw;
    min-width: 201px;
    min-height: 100px;
    max-height: 103px;
    padding-left: 0.7vw;
    border-radius: 13.5px;
    box-shadow: 0 3.44px 10px rgba(130, 150, 180, 0.32);
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .card-balance {
    min-width: 32%;
    min-height: 150px;
    border-radius: 20px;
    box-shadow: 0 5.07px 10px rgba(130, 150, 180, 0.32);
    padding: 2% 0 2% 2%;
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 359px) and (max-width: 768px) {
  .card-balance {
    min-width: 95%;
    max-width: 300px;
    min-height: 150px;
    border-radius: 20px;
    box-shadow: 0 5.07px 10px rgba(130, 150, 180, 0.32);
    padding: 0 5%;
    margin-bottom: 25px;
  }
}

.card-balance {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #fff;
}

</style>