<template>
  <h5 class="block2__text">Проекты поддержки</h5>
</template>

<script>
export default {
  name: "Block2__text"
}
</script>

<style scoped>
@media screen and (min-width: 1201px) {
  .block2__text {
    text-align: left;
  }

  h5 {
    font-size: 26px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .block2__text {
    text-align: left;
  }

  h5 {
    font-size: 26px;
  }
}

@media screen and (min-width: 359px) and (max-width: 768px) {
  .block2__text {
    text-align: center;
  }

  h5 {
    font-size: 24px;
  }
}
</style>