@font-face {
    font-family: 'Cera Pro Regular';
    src: url('~/src/assets/fonts/cera pro regular/CeraPro-Regular.eot');
    src: url('~/src/assets/fonts/cera pro regular/CeraPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('~/src/assets/fonts/cera pro regular/CeraPro-Regular.woff') format('woff'),
    url('~/src/assets/fonts/cera pro regular/CeraPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

BODY {
    background-color: #F5F5F5;
    font-family: 'Cera Pro Regular';
    /*padding: 0;*/
    /*margin: 0;*/
}