<template>
  <span class="bank-plane" v-if="sum_plan!=null">/{{ sum_plan }} ₽</span>
</template>
<script>

export default {
  name: "Card-balance__bank-plane",
  props: {
    sum_plan: {
      type: Number,
      required: true
    }
  },
}
</script>

<style scoped>

@media screen and (min-width: 1201px) {
  .bank-plane {
    font-size: 16px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .bank-plane {
    font-size: 20px;
  }
}

@media screen and (min-width: 359px) and (max-width: 768px) {
  .bank-plane {
    font-size: 24px;
  }
}

.bank-plane {
  font-weight: bold;
  color: #6E6E6E;
}

</style>