<template>
  <div class="block2">
    <Block2__text/>
    <Block2Cards v-bind:support="support"/>
    <Block2Cards
        v-bind:support="support"
        v-if="isSupportsVisible"
    />
    <Block2__button @ShowSupports="showSupports"/>
  </div>
</template>

<script>
import Block2__text from "@/components/block2/__text/Block2__text";
import Block2__button from "@/components/block2/__button/Block2__button";
import Block2Cards from "@/components/block2-cards/Block2-cards";

export default {
  name: "Block2",
  components: {Block2Cards, Block2__text, Block2__button},
  props: ["support"],
  data() {
    return {
      isSupportsVisible: false,
    }
  },
  methods: {
    showSupports(data) {
      this.isSupportsVisible = data;
    }
  }
}
</script>

<style scoped>

</style>