<template>
  <h5 class="block__text">Информация о балансах</h5>
</template>

<script>
export default {
  name: "Block__text"
}
</script>

<style scoped>
@media screen and (min-width: 1201px) {
  .block__text {
    text-align: left;
  }

  h5 {
    font-size: 26px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .block__text {
    text-align: left;
  }

  h5 {
    font-size: 26px;
  }
}

@media screen and (min-width: 359px) and (max-width: 768px) {
  .block__text {
    text-align: center;
  }

  h5 {
    font-size: 24px;
  }
}

</style>