<template>
  <span
      class="bank-sum"
      v-bind:style="[sum_plan / 100 * 45 > sum ? {'color': 'rgb(252,110,106)'} : {'color': 'rgb(57,184,186)'}]"
  >
    {{ sumDigit }} ₽</span>
</template>

<script>
export default {
  name: "Card-balance__bank-sum",
  props: {
    sum: {
      type: Object,
      required: true,
    },
    sum_plan: {
      type: Object,
      required: true,
    }
  },
  computed: {
    sumDigit() {
      let num_string = String(this.sum);
      return num_string.replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ');
    }
  }
}
</script>

<style scoped>
@media screen and (min-width: 1201px) {
  .bank-sum {
    font-size: 26px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .bank-sum {
    font-size: 30px;
  }
}

@media screen and (min-width: 359px) and (max-width: 768px) {
  .bank-sum {
    font-size: 39px;
  }
}

.bank-sum {
  font-weight: 600;
}
</style>