<template>
  <div class="block-cards">
    <CardBalance
        v-for="card in balances"
        v-bind:card="card"
    />
  </div>
</template>

<script>
import CardBalance from "@/components/card-balance/Card-balance";

export default {
  name: "Block-cards",
  components: {CardBalance},
  props: ["balances"],

}
</script>

<style scoped>
@media screen and (min-width: 1201px) {
  .block-cards {
    justify-content: space-between;
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .block-cards {
    justify-content: space-between;
  }
}

@media screen and (min-width: 359px) and (max-width: 768px) {
  .block-cards {
    align-items: center;
    justify-content: center;
  }
}

.block-cards {
  display: flex;
  flex-wrap: wrap;
}
</style>