<template>
  <section class="block2__button">
    <button
        @click="showSupports_changeButtonText">
      {{ btnText }}
    </button>
  </section>
</template>

<script>
let isShowSupports = false;

export default {
  name: "Block2__button",
  data() {
    return {
      btnText: 'Показать еще',
    }
  },
  methods: {
    showSupports_changeButtonText() {
      this.sendShowSupportsToParent();
      this.buttonText();
    },
    sendShowSupportsToParent() {
      this.$emit('ShowSupports', isShowSupports = !isShowSupports);
    },
    buttonText() {
      if (isShowSupports) {
        this.btnText = 'Скрыть';
      } else this.btnText = 'Показать еще';
    },
  },
}
</script>

<style scoped>
@media screen and (min-width: 1201px) {
  .block2__button button {
    min-width: 150px;
    min-height: 36px;
    font-size: 18px;
    line-height: 24px;
    border-radius: 16px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .block2__button {
    margin-top: 40px;
  }

  .block2__button button {
    min-width: 210px;
    min-height: 52px;
    font-size: 26px;
    line-height: 24px;
    border-radius: 22px;
  }
}

@media screen and (min-width: 359px) and (max-width: 768px) {
  .block2__button {
    margin-top: 25px;
  }

  .block2__button button {
    width: 90%;
    min-height: 53px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 23px;
  }
}

.block2__button button {
  font-family: "Cera Pro Regular", serif;
  font-weight: 400;
  background-color: #39B8BA;
  color: #fff;
  margin: auto;
  border: 0;
}

.block2__button button:hover {
  background-color: #179898;
}
</style>