<template>
  <section class="wrapper">
    <Block v-bind:balances="balances"/>
    <Block2 v-bind:support="support"/>
  </section>
</template>

<script>
import Block from "@/components/block/Block"
import Block2 from "@/components/block2/Block2";

let balances = [
  {
    title: "Сбербанк",
    sum: 10000,
    sum_plan: null,
  },
  {
    title: "Росбанк",
    sum: 2000,
    sum_plan: 5000,
  },
  {
    title: "ВТБ",
    sum: 100000,
    sum_plan: 5000,
  },
  {
    title: "Сельхозбанк",
    sum: 2250,
    sum_plan: 5000,
  },
  {
    title: "Тиньков",
    sum: 30000,
    sum_plan: 7000,
  },
  {
    title: "АльфаБанк",
    sum: 1000,
    sum_plan: 3000,
  },

]
let support = [
  {
    title: "Сбербанк",
    progress: 20,
    burning_count: 3,
    inwork_count: 58,
    time_fakt: "02:30"
  },
  {
    title: "Росбанк",
    progress: 90,
    burning_count: 7,
    inwork_count: 8,
    time_fakt: "07:20"
  },
  {
    title: "ВТБ",
    progress: 25,
    burning_count: 3,
    inwork_count: 58,
    time_fakt: "04:43"
  },
  {
    title: "Сбербанк",
    progress: 25,
    burning_count: 3,
    inwork_count: 58,
    time_fakt: "02:30"
  },
  {
    title: "Росбанк",
    progress: 85,
    burning_count: 7,
    inwork_count: 8,
    time_fakt: "07:20"
  },
  {
    title: "ВТБ",
    progress: 25,
    burning_count: 3,
    inwork_count: 58,
    time_fakt: "04:43"
  },
]

export default {
  name: 'App',
  data() {
    return {
      balances,
      support
    }
  },

  components: {
    Block,
    Block2,
  },
}
</script>

<style lang="less">

@media screen and (min-width: 1201px) {
  .wrapper {
    max-width: 1300px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .wrapper {
    margin: 2vw;
  }
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  width: 100%;
}

</style>
